!  ____ _____ 
! |  _ \_   _|  Derek Taylor (DistroTube)
! | | | || |    http://www.youtube.com/c/DistroTube
! | |_| || |    http://www.gitlab.com/dwt1/ 
! |____/ |_|  	


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:Sauce Code Pro Nerd Font, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
                 Ctrl <Key> minus: smaller-vt-font() \n\
                 Ctrl <Key> plus: larger-vt-font() \n\
                 Ctrl <Key> 0: set-vt-font(d)



URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:Sauce Code Pro Nerd Font:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.keysym.C-k:   font-size:increase
URxvt.keysym.C-j:   font-size:decrease
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32

! COLORS FOR SXIV
Sxiv.foreground:   #bbc2cf
Sxiv.background:   #282c34
Sxiv.font: Ubuntu:style=bold:size=11


! Nord Colorscheme

!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD

!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6

! Base16 Gruvbox dark, pale
! Scheme: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

#define base00 #262626
#define base01 #3a3a3a
#define base02 #4e4e4e
#define base03 #8a8a8a
#define base04 #949494
#define base05 #dab997
#define base06 #d5c4a1
#define base07 #ebdbb2
#define base08 #d75f5f
#define base09 #ff8700
#define base0A #ffaf00
#define base0B #afaf00
#define base0C #85ad85
#define base0D #83adad
#define base0E #d485ad
#define base0F #d65d0e

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
